In [1]:
t = (1, 2,3)
t

(1, 2, 3)

In [2]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [3]:
set(list1)

{1, 2, 3, 4, 5, 6}

In [4]:
# Yra prekių sąrašas
products = ("Kėdė", "Stalas", "Lempa", "Spinta", "Lentyna")
 
# Reikia paimti paskutinius tris elementus
item1, item2, item3 = products[-3:]
 
item1, item2, item3

('Lempa', 'Spinta', 'Lentyna')

In [5]:
# Yra klientų ID su pasikartojimais
customer_ids = ["C001", "C002", "C001", "C003", "C002"]
 
unique_customers = set(customer_ids)
unique_customers

{'C001', 'C002', 'C003'}

In [6]:
unique_customers_list = list(unique_customers)
unique_customers_tuple = tuple(unique_customers)
 
unique_customers_list, unique_customers_tuple

(['C002', 'C001', 'C003'], ('C002', 'C001', 'C003'))

In [7]:
vardas = "Jonas"
amzius = 25
print("Vardas:", vardas)
print("Amžius:", amzius)

Vardas: Jonas
Amžius: 25

In [8]:
vardas = "Jonas"
amzius = 25
print(f"{vardas} yra {amzius} metų amžiaus")

Jonas yra 25 metų amžiaus

In [9]:
print("Sveiki,", end=" ")
print("kaip sekasi?")

Sveiki, kaip sekasi?

In [10]:
# Pvz.: kliento duomenų struktūra
klientas = ("Jonas", 28, "Vilnius")
vardas, amzius, miestas = klientas
print("Vardas:", vardas)
print("Amžius:", amzius)
print("Miestas:", miestas)

Vardas: Jonas
Amžius: 28
Miestas: Vilnius

In [11]:
# Pvz.: aktyvūs ir registruoti klientai
registruoti = {"Jonas", "Ona", "Petras", "Greta"}
aktyvūs = {"Jonas", "Greta"}
 
# Kas registruoti, bet neaktyvūs?
neaktyvūs = registruoti - aktyvūs
print("Neaktyvūs klientai:", neaktyvūs)

Neaktyvūs klientai: {'Petras', 'Ona'}