1. Sukurkite kintamuosius ir apskaičiuokite dienos uždarbį.

In [1]:
valandinis = 10
darb_valandos = 12
uzdarbis = valandinis * darb_valandos
print(uzdarbis)

120

2. Pritaikykite 15% nuolaidą prekei, kurios kaina 120 €.

In [2]:
kaina = 120
nuolaida = 0.15
galutine_kaina = kaina * (1- nuolaida)
print(galutine_kaina)

102.0

3. Apskaičiuokite mėnesio algą (160 val. × 12 €/val.)

In [3]:
valandinis = 12
valandos = 160
alga = valandinis * valandos
print(alga)

1920

4. Apskaičiuokite pelną, jei savikaina 40 €, o pardavimo kaina 65 €.

In [5]:
savikaina = 40
pard_kaina = 65
pelnas = pard_kaina - savikaina
print(pelnas)

25

5. Apskaičiuokite kainą be PVM (121 € su 21% PVM)

In [9]:
kaina = 121
pvm = 0.21
be_pvm = 121 / (1+ pvm)
print(be_pvm)

100.0

6. Apskaičiuokite pelną po metų su 5% palūkanomis nuo 1000 €.