1. Sukurkite kintamuosius ir apskaičiuokite dienos uždarbį.

In [1]:
valandinis = 10
darb_valandos = 12
uzdarbis = valandinis * darb_valandos
print(uzdarbis)

120

2. Pritaikykite 15% nuolaidą prekei, kurios kaina 120 €.

In [2]:
kaina = 120
nuolaida = 0.15
galutine_kaina = kaina * (1- nuolaida)
print(galutine_kaina)

102.0

3. Apskaičiuokite mėnesio algą (160 val. × 12 €/val.)

In [3]:
valandinis = 12
valandos = 160
alga = valandinis * valandos
print(alga)

1920

4. Apskaičiuokite pelną, jei savikaina 40 €, o pardavimo kaina 65 €.

In [5]:
savikaina = 40
pard_kaina = 65
pelnas = pard_kaina - savikaina
print(pelnas)

25

5. Apskaičiuokite kainą be PVM (121 € su 21% PVM)

In [9]:
kaina = 121
pvm = 0.21
be_pvm = 121 / (1+ pvm)
print(be_pvm)

100.0

6. Apskaičiuokite pelną po metų su 5% palūkanomis nuo 1000 €.

In [1]:
pradine_suma = 1000
palukanos = 0.05

galutine_suma = pradine_suma * (1 + palukanos)
pelnas = galutine_suma - pradine_suma

print(pelnas)

50.0

7. Apskaičiuokite pažymių [7, 8, 9] vidurkį.

In [2]:
pazymiai = [7, 8, 9]
vidurkis = sum(pazymiai) / len(pazymiai)
print(vidurkis)

8.0

8. Apskaičiuokite, kiek procentų liko negrąžintos paskolos (1000 € – 350 € grąžinta).

In [5]:
paskola = 1000
grazinta = 350
liko_moketi = paskola - grazinta
procent_left = (liko_moketi / paskola) * 100
print(procent_left)

65.0

9. Apskaičiuokite trikampio plotą (pagrindas 6, aukštis 4)

In [6]:
pagrindas = 6
aukstis = 4
plotas = (pagrindas * aukstis) / 2
print(plotas)

12.0

10. Apskaičiuokite bendrą dviejų prekių (3.50 € ir 4.20 €) kainą.

In [7]:
kaina1 = 3.50
kaina2 = 4.20
bendra_kaina = kaina1 + kaina2
print(bendra_kaina)

7.7

11. Išveskite žodį didžiosiomis raidėmis

In [9]:
zodis = "modestas"
didziosiomis = zodis.upper()
print(didziosiomis)

MODESTAS

12. Išveskite sakinį mažosiomis raidėmis.

In [10]:
sakinys = "KA JUS KA VAKARE"
mazosiomis = sakinys.lower()
print(mazosiomis)

ka jus ka vakare

13. Suskaičiuokite simbolių kiekį varde.

In [11]:
vardas = "modestas"
ilgis = len(vardas)
print(ilgis)

8

14. Padalinkite sakinį į žodžius ir parodykite pirmą žodį.

In [13]:
sakinys = "labas rytas, Lietuva"
zodziai = sakinys.split()
pirmas_zodis = zodziai[0]
print(pirmas_zodis)

labas

15. Sujunkite du žodžius į vieną su tarpu

In [14]:
zodis1 = "labas"
zodis2 = "rytas"
sakinys = zodis1 + ' ' + zodis2
print(sakinys)

labas rytas

16. Sukurkite el. pašto adresą iš vardo ir pavardės.

In [15]:
vardas = "modis"
pavarde = "tamosius"
email = vardas + '.' + pavarde + '@' + 'gmail.com'
print(email)

modis.tamosius@gmail.com

17. Patikrinkite, ar žodyje yra raidė „a“.

In [16]:
zodis = "modestas"
tikrinimas = "a" in zodis
print(tikrinimas)

True

18. Pakeiskite visus simbolius „a“ į „*“.

In [17]:
zodis = "modestas"
replacement = zodis.replace("a", "*")
print(replacement)

modest*s

19. Išskirkite metus, mėnesį ir dieną iš datos „2025-06-01“.

In [20]:
data = "2025-06-01"
metai, menuo, diena = data.split("-")
print("metai", metai)
print("menuo", menuo)
print("diena", diena)

metai 2025
menuo 06
diena 01

20. Išveskite pirmą ir paskutinį simbolį iš vardo

In [21]:
vardas = "modestas"
pirmas = vardas[0]
paskutinis = vardas[-1]
print("pirma raide", pirmas)
print("paskutine raide", paskutinis)

pirma raide m
paskutine raide s