1. Sukurkite sąrašą su skaičiais nuo 1 iki 10. Panaudokite `for` ciklą ir atspausdinkite tik
lyginius skaičius. Naudokite `continue`

In [5]:
numbers = list(range(1, 11))
for equal in numbers:
    if equal % 2 != 0:
        continue
    print(equal)

2
4
6
8
10

2. Turite sąrašą: ['apple', 'banana', 'cherry', 'date']. Naudokite `for` ciklą ir `if`, kad
atspausdintumėte vaisius, kurių ilgis didesnis nei 5.

In [6]:
fruits = ['apple', 'banana', 'cherry', 'date']
for fruit in fruits:
    if len(fruit) > 5:
        print(fruit)

banana
cherry

3. Naudodami `while` ciklą suskaičiuokite sumą skaičių nuo 1 iki 20. Jei suma viršija 100, ciklą
nutraukite su `break`.

In [7]:
number = 1
total = 0
while number <= 20:
    total += number
    if total > 100:
        break
    number += 1
print("Total: ", total)
print("Stopped at number: ", number)

Total:  105
Stopped at number:  14

4. Turite žodyną su studentų pažymiais. Atspausdinkite tik tuos studentus, kurių pažymys
didesnis arba lygus 8. Naudokite `if` ir `for`.

In [8]:
grades = {"John": 7, "Erica": 9, "Mark": 8, "Bill": 6, "Lisa": 10}
for name, grade in grades.items():
    if grade >= 8:
        print(name, grade)

Erica 9
Mark 8
Lisa 10

5. Sukurkite sąrašą ir pašalinkite paskutinį elementą naudodami `pop()`.

In [9]:
fruits = ['apple', 'banana', 'cherry', 'date']
removed = fruits.pop()
print("Removed fruit: ", removed)
print("Fruits after removal: ", fruits)

Removed fruit:  date
Fruits after removal:  ['apple', 'banana', 'cherry']

6. Pridėkite naują raktą ir reikšmę į žodyną: `person = {'name': 'Jonas'}`. Pridėkite 'age': 25

In [2]:
person = {'name': 'Jonas'}
person['age'] = 25
print(person)

{'name': 'Jonas', 'age': 25}

7. Naudodami `for` ciklą padvigubinkite kiekvieną sąrašo reikšmę: [2, 4, 6]. Rezultatas turi būti
naujas sąrašas

In [3]:
numbers = [2, 4, 6]
doubled = []
for n in numbers:
    doubled.append(n * 2)
print(doubled)

[4, 8, 12]

8. Iš sąrašo pašalinkite visas reikšmes, mažesnes nei 5. Naudokite `remove()` cikle

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in numbers[:]:
    if n < 5:
        numbers.remove(n)
print(numbers)

[5, 6, 7, 8, 9, 10]

9. Patikrinkite, ar žodyne yra raktas 'height'. Jei ne, pridėkite jį su reikšme 180.

In [6]:
person = {'name': 'Jonas', 'age': 25}
if 'height' not in person:
    person['height'] = 180
print(person)

{'name': 'Jonas', 'age': 25, 'height': 180}

10. Turite sąrašą [10, 15, 20, 25]. Naudokite `for` ir `if` su `else`, kad atspausdintumėte ar
kiekvienas skaičius didesnis nei 18 ar ne.

In [8]:
numbers = [10, 15, 20, 25]
for n in numbers:
    if n > 18:
        print(n, 'Skaicius didesnis nei 18')
    else:
        print(n, 'Skaicius maziasnis nei 18')

10 Skaicius maziasnis nei 18
15 Skaicius maziasnis nei 18
20 Skaicius didesnis nei 18
25 Skaicius didesnis nei 18

11. Naudodami `while` ciklą spausdinkite skaičius nuo 1 iki 5. Jei skaičius lygus 3, praleiskite jį
(`continue`).

In [23]:
n = 1
while n <= 5:
    if n == 3:
        n += 1
        continue
    print(n)
    n += 1

1
2
4
5

12. Turite žodyną su produktų kainomis. Sukurkite naują žodyną su kainomis, padidintomis
10%.

In [25]:
prices = {
    'apple': 1.0,
    'banana': 0.8,
    'milk': 2.5
}
new_prices = {}
for product, price in prices.items():
    new_prices[product] = price * 1.10
print(new_prices)

{'apple': 1.1, 'banana': 0.8800000000000001, 'milk': 2.75}

13. Sukurkite sąrašą su įvairių tipų duomenimis. Naudokite `for` ir `if`, kad atspausdintumėte
tik `int` tipo reikšmes. Naudokite `type()`.

In [28]:
data = [10, "labas", 3.14, True, 25, None, [1, 2, 3]]
for item in data:
    if type(item) == int:
        print(item)

10
25

14. Apsukite sąrašą [1, 2, 3, 4] naudodami `reverse()` metodą.

In [29]:
numbers = [1, 2, 3, 4]
numbers.reverse()
print(numbers)

[4, 3, 2, 1]

15. Turite sąrašą: ['a', 'b', 'c', 'd']. Ištrinkite elementą 'c' naudodami `remove()` ir atspausdinkite
rezultatą

In [30]:
letters =  ['a', 'b', 'c', 'd']
letters.remove('c')
print(letters)

['a', 'b', 'd']