1. Sukurkite sąrašą su skaičiais nuo 1 iki 10. Panaudokite `for` ciklą ir atspausdinkite tik
lyginius skaičius. Naudokite `continue`

In [5]:
numbers = list(range(1, 11))
for equal in numbers:
    if equal % 2 != 0:
        continue
    print(equal)

2
4
6
8
10

2. Turite sąrašą: ['apple', 'banana', 'cherry', 'date']. Naudokite `for` ciklą ir `if`, kad
atspausdintumėte vaisius, kurių ilgis didesnis nei 5.

In [6]:
fruits = ['apple', 'banana', 'cherry', 'date']
for fruit in fruits:
    if len(fruit) > 5:
        print(fruit)

banana
cherry

3. Naudodami `while` ciklą suskaičiuokite sumą skaičių nuo 1 iki 20. Jei suma viršija 100, ciklą
nutraukite su `break`.

In [7]:
number = 1
total = 0
while number <= 20:
    total += number
    if total > 100:
        break
    number += 1
print("Total: ", total)
print("Stopped at number: ", number)

Total:  105
Stopped at number:  14

4. Turite žodyną su studentų pažymiais. Atspausdinkite tik tuos studentus, kurių pažymys
didesnis arba lygus 8. Naudokite `if` ir `for`.

In [8]:
grades = {"John": 7, "Erica": 9, "Mark": 8, "Bill": 6, "Lisa": 10}
for name, grade in grades.items():
    if grade >= 8:
        print(name, grade)

Erica 9
Mark 8
Lisa 10

5. Sukurkite sąrašą ir pašalinkite paskutinį elementą naudodami `pop()`.

In [9]:
fruits = ['apple', 'banana', 'cherry', 'date']
removed = fruits.pop()
print("Removed fruit: ", removed)
print("Fruits after removal: ", fruits)

Removed fruit:  date
Fruits after removal:  ['apple', 'banana', 'cherry']