# Užduotys su datetime:

1. Sukurkite šiandienos datą naudojant datetime.date.today() ir ją atspausdinkite

In [2]:
import datetime
time = datetime.date.today()
print(time)

2026-01-26

2. Sukurkite datą: 2023 m. birželio 1 d. ir atspausdinkite ją

In [3]:
import datetime
time = datetime.date(2023, 6, 1)
print(time)

2023-06-01

3. Konvertuokite tekstą '2022-12-25' į datetime objektą.

In [5]:
import datetime
text = '2022-12-25'
date = datetime.datetime.strptime(text, '%Y-%m-%d')
print(date)

2022-12-25 00:00:00

4. Išveskite, kuri savaitės diena buvo 2022-12-25

In [2]:
from datetime import datetime
date = datetime(2022, 12, 25)
weekday = date.strftime("%A")
print(weekday)

Sunday

5. Apskaičiuokite dienų skirtumą tarp 2023-01-01 ir 2023-02-01.

In [3]:
from datetime import date
d1 = date(2023, 1, 1)
d2 = date(2023, 2, 1)
diference = d2 - d1
print(diference)

31 days, 0:00:00

6. Sukurkite ciklą, kuris atspausdina kiekvieno 2023 metų mėnesio 1-ą dieną

In [4]:
from datetime import date
for month in range(1, 13):
    first_day = date(2023, month, 1)
    print(first_day)

2023-01-01
2023-02-01
2023-03-01
2023-04-01
2023-05-01
2023-06-01
2023-07-01
2023-08-01
2023-09-01
2023-10-01
2023-11-01
2023-12-01

7. Patikrinkite, ar dvi datos (2023-03-05 ir 2023-03-20) priklauso tam pačiam mėnesiui

In [5]:
from datetime import date
d1 = date(2023, 3, 5)
d2 = date(2023, 3, 20)
same_day = (d1.year == d2.year) and (d1.month == d2.month)
print(same_day)

True

8. Paverskite šiandienos datą į tekstinį formatą: YYYY-MM-DD.

In [7]:
from datetime import date
today = date.today()
formatted = today.strftime("%Y-%m-%d")
print(formatted)

2026-01-27

9. Sukurkite datą iš metų, mėnesio ir dienos, pateiktų kintamaisiais.

In [8]:
from datetime import date
y = 2026
m = 5
d = 12
newdate = date(y, m, d)
print(newdate)

2026-05-12

10. Patikrinkite, ar duota data yra savaitgalis (šeštadienis arba sekmadienis)

In [9]:
from datetime import date
d = date(2026, 2, 1)
is_weekend = d.weekday() <= 5
print(is_weekend)

False

# Užduotys su try/except/finally:

1. Parašykite kodą, kuris dalija 10 iš 0 ir suvaldo ZeroDivisionError.

In [12]:
a = 10
b = 0
if b == 0:
    print("Negalima dalyba is nulio")
else: 
    print(a/b)

Negalima dalyba is nulio

2. Bandykite atidaryti neegzistuojantį failą ir suvaldykite FileNotFoundError.

In [15]:
try:
    f = open("ner_tokio_failo.txt", "r")
    print("Nera tokio failo")
except FileNotFoundError:
    print("Nera tokio failo")

Nera tokio failo

3. Pabandykite konvertuoti tekstą 'abc' į int ir suvaldykite ValueError.