# Užduotys su datetime:

1. Sukurkite šiandienos datą naudojant datetime.date.today() ir ją atspausdinkite

In [ ]:
import datetime
time = datetime.date.today()
print(time)

2. Sukurkite datą: 2023 m. birželio 1 d. ir atspausdinkite ją

In [ ]:
import datetime
time = datetime.date(2023, 6, 1)
print(time)

3. Konvertuokite tekstą '2022-12-25' į datetime objektą.

In [ ]:
import datetime
text = '2022-12-25'
date = datetime.datetime.strptime(text, '%Y-%m-%d')
print(date)

4. Išveskite, kuri savaitės diena buvo 2022-12-25

In [ ]:
from datetime import datetime
date = datetime(2022, 12, 25)
weekday = date.strftime("%A")
print(weekday)

5. Apskaičiuokite dienų skirtumą tarp 2023-01-01 ir 2023-02-01.

In [ ]:
from datetime import date
d1 = date(2023, 1, 1)
d2 = date(2023, 2, 1)
diference = d2 - d1
print(diference)

6. Sukurkite ciklą, kuris atspausdina kiekvieno 2023 metų mėnesio 1-ą dieną

In [ ]:
from datetime import date
for month in range(1, 13):
    first_day = date(2023, month, 1)
    print(first_day)

7. Patikrinkite, ar dvi datos (2023-03-05 ir 2023-03-20) priklauso tam pačiam mėnesiui

In [ ]:
from datetime import date
d1 = date(2023, 3, 5)
d2 = date(2023, 3, 20)
same_day = (d1.year == d2.year) and (d1.month == d2.month)
print(same_day)

8. Paverskite šiandienos datą į tekstinį formatą: YYYY-MM-DD.

In [ ]:
from datetime import date
today = date.today()
formatted = today.strftime("%Y-%m-%d")
print(formatted)

9. Sukurkite datą iš metų, mėnesio ir dienos, pateiktų kintamaisiais.

In [ ]:
from datetime import date
y = 2026
m = 5
d = 12
newdate = date(y, m, d)
print(newdate)

10. Patikrinkite, ar duota data yra savaitgalis (šeštadienis arba sekmadienis)

In [ ]:
from datetime import date
d = date(2026, 2, 1)
is_weekend = d.weekday() <= 5
print(is_weekend)

# Užduotys su try/except/finally:

1. Parašykite kodą, kuris dalija 10 iš 0 ir suvaldo ZeroDivisionError.

In [2]:
a = 10
b = 0
if b == 0:
    print("Negalima dalyba is nulio")
else: 
    print(a/b)

Negalima dalyba is nulio

2. Bandykite atidaryti neegzistuojantį failą ir suvaldykite FileNotFoundError.

In [ ]:
try:
    f = open("ner_tokio_failo.txt", "r")
    print("Nera tokio failo")
except FileNotFoundError:
    print("Nera tokio failo")

3. Pabandykite konvertuoti tekstą 'abc' į int ir suvaldykite ValueError.

In [5]:
try:
    number = int("abc")
    print(number)
except ValueError:
    print("Negalima pakeistis raidziu i skaicius")

Negalima pakeistis raidziu i skaicius

4. Naudokite try/except/finally – net jei yra klaida, finally turi išspausdinti 'Baigta'

In [6]:
try:
    x = 10 / 0
    print("Dalyba galima")
except ZeroDivisionError:
    print("Dalyba negalima")
finally:
    print("Bigta")

Dalyba negalima
Bigta

5. Sukurkite kodą, kuriame vyksta dvi galimos klaidos: dalyba iš 0 ir netinkama konversija.

In [7]:
try:
    x = int("abc")
    y = 10 / 0
    print(x, y)
except ValueError:
    print("Klaida: nepavyji konvertuoti teksto i skaiciu")
except ZeroDivisionError:
    print("Error: counct divide by zero")

Klaida: nepavyji konvertuoti teksto i skaiciu

6. Įrašykite skaičių kaip tekstą, konvertuokite į int su try/except

In [8]:
text = "123"
try:
    number = int(text)
    print("Success: ", number)
except ValueError:
    print("Error")

Success:  123

7. Sukurkite funkciją, kuri grąžina klaidą, jei įvestas skaičius yra neigiamas

In [9]:
def number_lookup(x):
    try:
        if x < 0:
            raise ValueError("Cant be zero")
        return x
    except ValueError as e:
        print("Error: ", e)
print(number_lookup(10))
print(number_lookup(-5))

10
Error:  Cant be zero
None

In [ ]:
8. Naudokite else bloką – jei klaidos nėra, atspausdinkite 'Viskas gerai'

In [2]:
try:
    skaicius = int(input("Iveskite skaiciu"))
except ValueError:
    print("Klaida, ivestis nera skaicius")
else:
    print("Viskas gerai")

Klaida, ivestis nera skaicius

9. Patikrinkite, ar egzistuoja failas 'duomenys.txt' – jei ne, gražiai praneškite.

In [3]:
try:
    with open("data.txt", "r") as f:
        turinys = f.read()
    print("File was found")
except FileNotFoundError:
    print("File was  not found")

File was  not found

10. Sukurkite ciklą su try/except, kuris bando padalinti 100 iš sąrašo skaičių, tarp kurių yra ir 0.

In [4]:
numbers = [10, 5, 0, 20, 0, 4]
for x in numbers:
    try:
        result = 100 / x
        print(f"100 / {x} = {result}")
    except ZeroDivisionError:
        print("Cant divide by zero")

100 / 10 = 10.0
100 / 5 = 20.0
Cant divide by zero
100 / 20 = 5.0
Cant divide by zero
100 / 4 = 25.0