# Užduotys su list, tuple, dict, set:

1. Sukurkite sąrašą su 5 parduotų produktų pavadinimais (list) ir atspausdinkite pirmą ir
paskutinį naudodami indeksus.

In [1]:
products = ["Kompiuteris", "Telefonas", "Planšetė", "Ausinės", "Monitorius"]
print("First product:", products[0])
print("Last product:", products[-1])

First product: Kompiuteris
Last product: Monitorius

2. Sukurkite tuple su klientų vardais. Paverskite jį į sąrašą, pridėkite naują vardą ir vėl
konvertuokite į tuple.

In [2]:
clients = ("Jonas", "Asta", "Tomas")
clients_list = list(clients)
clients_list.append("Milda")
clients = tuple(clients_list)
print(clients)

('Jonas', 'Asta', 'Tomas', 'Milda')

3. Turite sąrašą kainų [10, 20, 15, 30]. Konvertuokite į set ir parodykite, kiek yra unikalių kainų.
Naudokite set() ir len()

In [3]:
prices = [10, 20, 15, 30]
unic_prices = set(prices)
print("Unice prices number:", len(unic_prices))

Unice prices number: 4

4. Sukurkite žodyną (dict) su produkto pavadinimu kaip raktu ir pardavimų skaičiumi kaip
reikšme. Pakeiskite vieno produkto reikšmę. Naudokite dict indeksavimą.

In [4]:
sales = {"Kompiuteris": 25, "Telefonas": 40, "Planšetė": 15 }
sales["Telefonas"] = 50
print(sales)

{'Kompiuteris': 25, 'Telefonas': 50, 'Planšetė': 15}

5. Turite list = ["A", "B", "C"] ir set = {"B", "C", "D"}. Raskite bendrus elementus (naudoti set
operaciją: intersection)

In [6]:
list1 = ["A", "B", "C"]
set1 = {"B", "C", "D"}
set_from_list = set(list1)
groupy = set_from_list.intersection(set1)
print("Grouped elements:", groupy)

Grouped elements: {'B', 'C'}

6. Sukurkite tuple su pelnais kiekvieną mėnesį (12 reikšmių). Išskaičiuokite vidutinį pelną
naudodami sum() ir len()

In [7]:
profits = (1000, 1200, 900, 1500, 1100, 1300, 1400, 1250, 1600, 1700, 1550, 1800)
average = sum(profits) / len(profits)
print("Average profit:", average)

Average profit: 1358.3333333333333

7. Sukurkite dict, kuriame raktais yra mėnesiai (sausis, vasaris...) o reikšmė – pelnas.
Apskaičiuokite visų mėnesių sumą.

In [8]:
profits = { "sausis": 1000, "vasaris": 1200, "kovas": 900, "balandis": 1500, "gegužė": 1100, "birželis": 1300, "liepa": 1400, "rugpjūtis": 1250, "rugsėjis": 1600, "spalis": 1700, "lapkritis": 1550, "gruodis": 1800 }
total_profits = sum(profits.values())
print("Total profits:", total_profits)

Total profits: 16300

8. Sukurkite list su pirkimo datomis tekstu (pvz. '2023-01-01') ir konvertuokite jas į datetime
objektus naudojant datetime.strptime.

In [9]:
from datetime import datetime
sale_dates = ["2023-01-01", "2023-02-15", "2023-03-10"]
converted_dates = [datetime.strptime(data, "%Y-%m-%d") for data in sale_dates]
print(converted_dates)

[datetime.datetime(2023, 1, 1, 0, 0), datetime.datetime(2023, 2, 15, 0, 0), datetime.datetime(2023, 3, 10, 0, 0)]

9. Apskaičiuokite kiek dienų praėjo nuo kiekvienos pirkimo datos iki šiandienos
(datetime.date.today()) ir atspausdinkite.

In [10]:
from datetime import datetime, date
sale_dates = ["2023-01-01", "2023-02-15", "2023-03-10"]
sales_dates_converted = [datetime.strptime(data, "%Y-%m-%d").date() for data in sale_dates]
today = date.today()
for data in sales_dates_converted:
    skirtumas = (today - data).days
    print(f"From {data} is {skirtumas} days apart")

From 2023-01-01 is 1123 days apart
From 2023-02-15 is 1078 days apart
From 2023-03-10 is 1055 days apart

10. Sukurkite žodyną, kuriame raktais yra produkto pavadinimai, o reikšmė – sąrašas mėnesinių
pardavimų. Raskite bendrą sumą kiekvienam produktui naudodami for ciklą ir sum().

In [11]:
sales = { "Kompiuteris": [100, 120, 90, 150], "Telefonas": [200, 180, 220, 210], "Planšetė": [80, 95, 100, 85] }
for product, months in sales.items():
    total_sum = sum(months)
    print(f"{product}: {total_sum}")

Kompiuteris: 460
Telefonas: 810
Planšetė: 360