In [1]:
nums = [10, 5, 20]
print("sum:", sum(nums))
print("sorted:", sorted(nums))

sum: 35
sorted: [5, 10, 20]

In [2]:
f = lambda a, b: a + b
print(f(2, 3))
print(f(10, 5))

5
15

In [4]:
products = [
    {"name": "Milk", "price": 1.50},
    {"name": "Bread", "price": 0.99},
    {"name": "Eggs", "price": 0.80},
]
 
sorted_by_price = sorted(products, key=lambda x: x["price"])
sorted_by_price

[{'name': 'Eggs', 'price': 0.8},
 {'name': 'Bread', 'price': 0.99},
 {'name': 'Milk', 'price': 1.5}]

In [3]:
def add(a, b):
    return a + b
 
add_lambda = lambda a, b: a + b
 
print(add(2, 3))
print(add_lambda(2, 3))

5
5

In [5]:
amounts = [100, 80, 40]
 
with_vat = map(lambda x: round(x * 1.21, 2), amounts)
 
print(with_vat)
print(list(with_vat))

<map object at 0x000001F11C251A40>
[121.0, 96.8, 48.4]

In [6]:
def myfunc(*args):
    return sum(args)*.05
 
myfunc(5, 8, 12)

1.25

In [7]:
def line_total(qty, unit_price, discount=0.0):
    return round(qty * unit_price * (1 - discount), 2)
 
sales_lines = [
    {"product": "Milk", "qty": 2, "unit_price": 1.50, "discount": 0.00},
    {"product": "Bread", "qty": 1, "unit_price": 0.99, "discount": 0.10},
    {"product": "Eggs", "qty": 3, "unit_price": 0.80, "discount": 0.00},
]
 
net_total = 0.0
for r in sales_lines:
    net_total += line_total(r["qty"], r["unit_price"], r["discount"])
 
gross_total = add_vat(net_total)
 
print("Suma be PVM:", net_total)
print("Suma su PVM:", gross_total)

NameError: name 'add_vat' is not defined

In [9]:
raw_products = [" milk", "BREAD ", "Eggs      ", " butter "]
 
clean_products_loop = []
for p in raw_products:
    clean_products_loop.append(p.strip().title())
 
clean_products_comp = [p.strip().title() for p in raw_products]
 
print(clean_products_loop)
print(clean_products_comp)

['Milk', 'Bread', 'Eggs', 'Butter']
['Milk', 'Bread', 'Eggs', 'Butter']